body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}
.container {
  background-color: #1e2a38;
  padding: 30px;
  max-width: 60%;
  margin: auto;
  margin-top: 110px;
  border: 3px solid #61d47f;
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
span {
  color: #61d47f;
}
p {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.container_button {
  text-align: center;
  padding-bottom: 10px;
  margin: 20px;
}
button {
    padding: 10px;
    border-radius: 10px;
    border: navajowhite;
    background-color: #61d47f;
    color: #fff;
    font-size: 20px;
}
.container_results  {
  padding-top: 10px;
  text-align: center;
}
input {
    padding: 10px;
    
}
