body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}
.container {
  background-color: #ecfdf5;
  padding: 30px;
  width: 500px;
  margin: auto;
  margin-top: 110px;
  border: 5px solid #61d47f;
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #273549;
  font-size: 50px;
}
span {
  color: #61d47f;
}
p {
  text-align: center;
  color: #6b7280;
  font-size: 20px;
}
.container_button {
  text-align: center;
  padding-bottom: 10px;
  margin: 20px;
}
button {
  padding: 10px 40px;
  border-radius: 6px;
  border: navajowhite;
  background-color: #61d47f;
  color: #fff;
  font-size: 20px;
}
.container_results {
  padding-top: 10px;
  text-align: center;
}
input {
  padding: 10px;
  background-color: #273549;
  color: #61d47f;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
